@charset "utf8";
/* // compress: true, sourceMap: true */
/* // compress: true, sourceMap: true */
body,
ul,
li,
input,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
a,
div,
img,
p,
select,
button {
  margin: 0;
  padding: 0;
}
button {
  border: 0 none;
  outline: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
a:link {
  text-decoration: none;
  color: #000;
}
a:visited {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #000;
}
a:active {
  text-decoration: none;
  color: #000;
}
input {
  outline-style: none;
  border: 0 none;
}
input::-webkit-input-placeholder {
  /*WebKit browsers*/
  color: #787878;
}
input::-moz-input-placeholder {
  /*Mozilla Firefox*/
  color: #787878;
}
input::-ms-input-placeholder {
  /*Internet Explorer*/
  color: #787878;
}
img {
  font-size: 0;
  border: 0 none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0px;
  visibility: hidden;
  clear: both;
}
.clearnfix {
  zoom: 1;
}
.red_ED6253 {
  color: #ED6253 !important;
}
.red_C62323 {
  color: #C62323 !important;
}
.gray_A0A0A0 {
  color: #A0A0A0 !important;
}
.ft_12 {
  font-size: 12px;
}
.ft_14 {
  font-size: 14px;
}
.ft_16 {
  font-size: 16px;
}
.ft_18 {
  font-size: 18px;
}
.ft_20 {
  font-size: 20px;
}
.ft_15 {
  font-size: 15px;
}
.ft_30 {
  font-size: 30px;
}
.level-20 {
  z-index: 20;
}
.level-30 {
  z-index: 30;
}
.fill-10 {
  height: 10px;
}
.fill-7 {
  height: 7px;
}
.fill-12 {
  height: 12px;
}
.fill-15 {
  height: 15px;
}
.fill-17 {
  height: 17px;
}
.fill-20 {
  height: 20px;
}
.fill-25 {
  height: 25px;
}
.fill-30 {
  height: 30px;
}
.fill-35 {
  height: 35px;
}
.fill-40 {
  height: 40px;
}
.fill-50 {
  height: 50px;
}
.fill-70 {
  height: 70px;
}
.fill-100 {
  height: 150px;
}
.ml_8 {
  margin-left: 8px;
}
.bg_gray {
  background: #efeff4;
}
.bg_gold {
  background: #DCBB7F;
}
.mr_20 {
  margin-right: 20px !important;
}
.mt_20 {
  margin-top: 20px !important;
}
.mt_30 {
  margin-top: 30px !important;
}
.mt_300 {
  margin-top: 300px !important;
}
.mt_50 {
  margin-top: 50px !important;
}
.mb_50 {
  margin-bottom: 50px !important;
}
.mb_10 {
  margin-bottom: 10px !important;
}
.mr_10 {
  margin-right: 10px;
}
.mt_5 {
  margin-top: 5px !important;
}
.lh38 {
  line-height: 38px;
}
.ft_gray {
  color: #828e9f;
}
.ft_yellow {
  color: #F0AD4E !important;
}
.bg_body_gray {
  background-color: #efeff4;
}
.color_555 {
  color: #555555;
}
.color_666 {
  color: #666;
}
html,
body {
  overflow: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: 'PingFangSC-Regular', 'Arial', Helvetica, Arial, "Microsoft Yahei", "Helvetica Neue", sans-serif;
  background-color: #FFFFFF;
}
.mui-icon img {
  width: 25px;
  height: 25px;
}
btn:enabled:active,
button.mui-active:enabled,
button:enabled:active {
  color: #fff;
  opacity: 0.8;
}
.btn_red {
  background: #C62323;
  border-radius: 8px;
  font-size: 18px;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  color: #FFFFFF;
  margin: 4% auto;
  width: 92%;
}
.btn_red:active {
  opacity: 0.7;
}
.btn_red_gray {
  background: #E69898;
  border-radius: 8px;
  font-size: 18px;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  color: #FFFFFF;
  margin: 4% auto;
  width: 92%;
}
.btn_red_gray:active {
  opacity: 0.8;
}
.btn_gray {
  background-image: linear-gradient(-90deg, #b7aaaa 0%, #c7c0c0 70%);
  border-radius: 91px;
  font-size: 18px;
  padding: 10px 100px !important;
  color: #FFFFFF;
  width: auto !important;
  margin: 0 auto;
}
.btn_gray:active {
  opacity: 0.7;
}
.btn-default {
  background: #FFFFFF;
  box-shadow: 0 2px 10px 4px rgba(240, 173, 78, 0.3);
  border-radius: 1.33333333rem;
  padding: 0.28rem 1.92rem;
  color: #293D51;
  font-weight: 500;
}
.mui-btn,
button {
  padding: 0;
}
.btn_block {
  padding: 0 !important;
  font-size: 18px;
  display: block;
  width: 92%;
  margin-bottom: 10px;
  padding: 15px 0;
  margin: 0 4%;
  height: 50px;
  line-height: 50px;
}
.hide {
  display: none !important;
}
.bd_1 {
  border-bottom: 1px solid #D7D7D7;
}
.show {
  display: inline-block;
}
.show_block {
  display: inline-block;
}
.pl_15 {
  padding-left: 15px;
}
.mt_250 {
  margin-top: 250px !important;
}
.pl_4 {
  padding-left: 4%;
}
.pr_4 {
  padding-right: 4%;
}
.mui-bar .mui-btn-link {
  font-size: 16px;
  line-height: 44px;
  top: 0;
  padding: 0;
  color: #293D51;
  border: 0;
}
.mui-table-view-chevron .mui-table-view-cell {
  padding-right: 0;
}
.mui-table-view:before,
.mui-table-view:after {
  height: 0;
}
.mui-bar-nav ~ .mui-content {
  padding-top: 64px;
}
.mui-scroll-wrapper {
  padding-top: 64px;
}
.pd_10 {
  padding: 10px;
}
input,
select,
textarea {
  font-size: 15px;
}
.mui-input-row label {
  font-size: 15px;
}
a,
button,
input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button {
  -webkit-user-modify: unset !important;
}
.mask {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 105;
  background-color: rgba(0, 0, 0, 0.4);
}
.mask-pp {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.07);
  display: none;
}
.header-nav {
  background-color: #FFFFFF;
  color: #000000;
  height: 64px !important;
  box-shadow: none;
}
.header-nav .nav_right {
  font-size: 15px;
  color: #000000;
  display: inline-block;
  height: 100%;
}
.header-nav .header-nav div:nth-of-type(3) {
  margin-right: 1.5%;
}
.header-nav .fill-20 {
  background-color: transparent;
}
.header-nav .mui-icon-back {
  color: #293D51;
}
.header-nav #goBack {
  height: 44px;
  line-height: 44px;
  padding-left: 4%;
}
.header-nav #goBack img {
  width: 1.17333333rem;
  height: 0.41333333rem;
  position: relative;
  margin-top: 0.38666667rem;
}
.header-nav h1 {
  color: #1F1F1F;
  letter-spacing: 2px;
  font-weight: 600;
  ont-family: PingFangSC-Medium;
  font-size: 18px;
  text-align: center;
}
.header-nav div:nth-of-type(3) {
  height: 44px;
  line-height: 44px;
}
.header-nav .confirm {
  padding-right: 4%;
}
.header-nav .confirm span {
  font-size: 0.4rem;
}
.icon-jiantou-xia {
  color: #000000;
}
.mt_350 {
  margin-top: 8.66666667rem;
}
.zfcg {
  text-align: center;
}
.zfcg img {
  width: 51px;
  height: 51px;
  margin-top: 65px;
}
.zfcg p {
  margin-top: 25px;
  font-size: 24px;
  color: #222222;
}
.syt_zfcg {
  text-align: center;
}
.syt_zfcg img {
  width: 30px;
  height: 30px;
  margin-top: 21px;
}
.syt_zfcg .zfcg_text {
  color: #F24F3E;
  font-size: 18px;
  margin-top: 20px;
}
.syt_zfcg .zfcg_je {
  margin-top: 8px;
  font-size: 20px;
  color: #222222;
}
.syt_zfcg .zfcg_info {
  color: #555555;
  font-size: 15px;
  overflow: hidden;
  width: 94%;
  margin: auto 3%;
}
.syt_zfcg .zfcg_info:nth-of-type(1) {
  margin-top: 33px;
}
.syt_zfcg .zfcg_info:nth-of-type(2) {
  margin-top: 8px;
}
.line_and_text {
  margin-top: 28px;
}
.line_and_text span {
  vertical-align: middle;
  color: #A0A0A0;
}
.line_and_text span:nth-of-type(1),
.line_and_text span:nth-of-type(3) {
  background-color: #A0A0A0;
  display: inline-block;
  height: 1px;
  width: 40%;
}
.line_and_text span:nth-of-type(2) {
  padding: 0 12px;
}
.syt_imgBox {
  margin-top: 13px;
}
.syt_imgBox + .syt_imgBox {
  margin-top: 10px;
}
.syt_imgBox:last-child {
  margin-bottom: 20px;
}
.syt_imgBox a {
  display: inline-block;
  width: 100%;
  height: 135px;
  font-size: 0;
  background: url("../../images/banner.png") no-repeat;
  background-size: cover;
}
.addbankCard h1 {
  text-align: left;
  color: #222222;
  font-size: 30px;
  margin-top: 20px;
  padding-left: 4%;
  font-weight: 600;
}
.addbankCard .gary_title {
  color: #A0A0A0;
  font-size: 12px;
  margin-top: 20px;
  padding-left: 4%;
}
.addbankCard button {
  margin-top: 20px;
  margin-bottom: 30px;
}
.mui-input-row span {
  font-size: 15px;
  color: #ED6253;
}
.cardInfo_title {
  font-size: 12px;
  color: #A0A0A0;
  margin-top: 30px;
  padding: 4%;
}
/* .bf_icon::after {
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    right: 0;
    top: 0;
    background: url(../../images/iocn_wenhao@2x.png) no-repeat center;
    background-size: 50%;
} */
.h_40 {
  height: 40px;
}
.bf_icon_span {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: auto;
  text-align: center;
  line-height: 3.2;
}
.bf_icon {
  width: 21px;
  height: 21px;
  right: 0;
}
.addCard_tyxx {
  padding-left: 4%;
  margin-top: 16px;
}
.addCard_tyxx img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.addCard_tyxx label {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #001111;
  vertical-align: middle;
  margin-left: 5px;
}
.black_title {
  font-size: 15px;
  color: #555555;
  margin-top: 18px;
  padding-left: 4%;
}
.gl_jbyhk .black_title {
  font-size: 15px;
  color: #555555;
  margin-top: 18px;
  padding-left: 4%;
}
.gl_mmk {
  padding: 0 4%;
  margin-top: 40px;
  font-size: 0;
  display: flex;
}
.gl_mmk li {
  display: inline-block;
  width: 16.66%;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-bottom: 1px solid #B9B9B9;
  margin: 0 2%;
  flex: 1;
}
.gl_mmk li span {
  font-size: 20px;
}
.wjmima {
  margin-top: 20px;
  width: 100%;
  padding-right: 4%;
  font-size: 12px;
  text-align: right;
}
.wjmima a {
  color: #F24F3E;
}
.zdy_dlg p {
  color: #e2e2e2 !important;
}
.zdy_dlg img {
  width: 20px;
  height: 20px;
  margin-top: 6px;
}
.goTo_addBank {
  text-align: center;
  margin-top: 30px;
}
.goTo_addBank a {
  color: #F24F3E;
  font-size: 14px;
  height: 100%;
}
.item_jt::after {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../../images/icon_youjiantou@2x.png) no-repeat center;
  background-size: 50%;
}
.cgtjyhk {
  text-align: center;
}
.cgtjyhk img {
  margin-top: 51px;
  width: 100px;
  height: auto;
}
.cgtjyhk p {
  margin-top: 60px;
  color: #C62323;
  font-size: 24px;
}
/* 密码 */
.gl_mmk li {
  position: relative;
}
.gl_mmk li input {
  position: absolute;
  left: 0;
  opacity: 0;
}
/* 键盘 */
.keyboard {
  position: fixed;
  left: 0;
  bottom: -200%;
  width: 100%;
  z-index: 110;
}
.keyboard > li {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: #000000;
  box-sizing: border-box;
  border: 1px solid #E5E5E5;
}
.keyboard > li:nth-child(1),
.keyboard > li:nth-child(2),
.keyboard > li:nth-child(4),
.keyboard > li:nth-child(5),
.keyboard > li:nth-child(7),
.keyboard > li:nth-child(8) {
  border-right: 0 none;
  border-bottom: 0;
}
.keyboard > li:nth-child(3),
.keyboard > li:nth-child(6),
.keyboard > li:nth-child(9) {
  border-bottom: 0;
}
.keyboard > li:nth-child(7),
.keyboard > li:nth-child(8),
.keyboard > li:nth-child(10),
.keyboard > li:nth-child(11) {
  border-right: 0 none;
}
.keyboard > li:nth-child(10),
.keyboard > li:nth-child(12) {
  border-right: 0 none;
  background-color: #C6CBD4;
}
.keyboard > li::after {
  height: 0;
}
.keyboard .longKeyBoard {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.keyboard .longKeyBoard li {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: #000000;
  box-sizing: border-box;
  border: 1px solid #E5E5E5;
}
.keyboard .longKeyBoard li:nth-child(1),
.keyboard .longKeyBoard li:nth-child(2),
.keyboard .longKeyBoard li:nth-child(4),
.keyboard .longKeyBoard li:nth-child(5),
.keyboard .longKeyBoard li:nth-child(7),
.keyboard .longKeyBoard li:nth-child(8) {
  border-right: 0 none;
  border-bottom: 0;
}
.keyboard .longKeyBoard li:nth-child(3),
.keyboard .longKeyBoard li:nth-child(6),
.keyboard .longKeyBoard li:nth-child(9) {
  border-bottom: 0;
}
.keyboard .longKeyBoard li:nth-child(7),
.keyboard .longKeyBoard li:nth-child(8),
.keyboard .longKeyBoard li:nth-child(10),
.keyboard .longKeyBoard li:nth-child(11) {
  border-right: 0 none;
}
.keyboard .longKeyBoard li:nth-child(10),
.keyboard .longKeyBoard li:nth-child(12) {
  border-right: 0 none;
  background-color: #C6CBD4;
}
.keyboard .longKeyBoard li::after {
  height: 0;
}
.keyboard .top .top_close {
  width: 100%;
  border-bottom: 1px solid #E2E4E9;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.keyboard .top .top_close span {
  font-family: PingFangSC-Regular;
  font-size: 15px;
  color: #222222;
  letter-spacing: 0.05px;
}
.keyboard .top .top_close i {
  margin-top: 17px;
  font-size: 26px;
  font-weight: 600;
  margin-right: 10px;
  color: #D8D8D8;
}
.keyboard .top .zzhk_yzm {
  padding: 0 4%;
  margin-top: 40px;
  font-size: 0;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.keyboard .top .zzhk_yzm input {
  border: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ccc;
  opacity: 0;
}
.keyboard .top .zzhk_yzm li {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #B9B9B9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.keyboard .top .zzhk_yzm li + li {
  border-left: 0 none;
}
.keyboard .top .zzhk_yzm li span {
  font-size: 20px;
}
.keyboard .top .sendAgain {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
}
.keyboard .top .sendAgain span {
  font-family: 'PingFangSC-Regular';
  font-size: 12px;
  letter-spacing: 0.04px;
  color: #555555;
}
.keyboard .top .sendAgain span:nth-of-type(1) {
  color: #F24F3E;
}
.confirm {
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: -200%;
  width: 100%;
  z-index: 110;
}
.confirm .top_close {
  width: 100%;
  border-bottom: 1px solid #E2E4E9;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.confirm .top_close span {
  font-family: PingFangSC-Regular;
  font-size: 15px;
  color: #222222;
  letter-spacing: 0.05px;
  margin-left: 30px;
}
.confirm .top_close i {
  margin-top: 17px;
  font-size: 26px;
  font-weight: 600;
  margin-right: 10px;
  color: #D8D8D8;
}
.confirm ul {
  width: 92%;
  margin: 0 4%;
}
.confirm ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
.confirm ul li span:nth-child(1) {
  font-family: 'PingFangSC-Regular';
  font-size: 14px;
  color: #555555;
  letter-spacing: 0.05px;
}
.confirm ul li span:nth-child(2) {
  font-family: 'PingFangSC-Semibold';
  font-size: 16px;
  color: #666666;
  letter-spacing: 0.05px;
}
.confirm ul li:last-child span:nth-child(1) {
  font-family: 'PingFangSC-Regular';
  font-size: 15px;
  color: #222222;
  letter-spacing: 0.05px;
}
.confirm ul li:last-child span:nth-child(2) {
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  color: #232323;
  letter-spacing: 0.06px;
}
.send_yzm {
  margin-top: 15px;
  overflow: hidden;
}
.send_yzm a {
  font-size: 12px;
}
.jsyzm {
  font-size: 18px;
  color: #555555;
  margin-top: 15px;
  text-align: center;
}
.gray_title {
  color: #A0A0A0;
  margin-top: 4px;
  font-size: 12px;
  text-align: center;
}
.custom_popup {
  position: fixed;
  z-index: 110;
  width: 80%;
  padding: 0 8%;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  background-color: #3A3B3D;
  padding-top: 7px;
  left: 50%;
  bottom: 200%;
  transform: translate(-50%);
}
.custom_popup .popup_title {
  color: #fff;
  margin-top: 30px;
  padding: 15px auto;
  text-align: center;
}
.custom_popup .popup_content {
  margin-top: 20px;
}
.custom_popup p {
  color: #fff;
  text-align: left;
  padding: 10px 0;
}
.custom_popup .mui-icon-close {
  position: absolute;
  left: 50%;
  bottom: -15%;
  transform: translateX(-50%);
  font-size: 30px;
}
.animate_pup {
  animation: mymove 1s forwards;
}
@keyframes mymove {
  from {
    bottom: 200%;
    display: none;
  }
  to {
    bottom: 20%;
    display: block;
  }
}
.animate_keyboard {
  animation: myKey 1s forwards;
}
@keyframes myKey {
  from {
    bottom: -200%;
    display: none;
  }
  to {
    bottom: 0;
    display: block;
  }
}
.editIcon .mui-icon-clear {
  right: 21px !important;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .mui-scroll-wrapper {
    padding-top: 0;
  }
  .mui-content {
    padding-top: 0;
  }
  header {
    height: 64px;
    padding-top: 24px;
    box-sizing: content-box;
    box-shadow: 0 1px 6px #ccc;
    border: 1px solid #D7D7D7;
  }
  .mui-content {
    padding-top: 88px;
  }
  body {
    /* padding-bottom: 34px; */
  }
  /* 密码框 */
  .alert-password {
    padding-bottom: 34px !important;
    box-sizing: content-box;
  }
  .mui-bar-tab {
    padding-bottom: 34px;
  }
  /* iframe */
  #sytframe {
    bottom: 34px !important;
  }
  /* 协议 */
  .argument.active {
    top: 44px;
  }
  .show-card-info {
    top: 88px;
  }
  /* 滚动区域 */
  .mui-scroll-wrapper {
    top: 88px !important;
  }
  .mui-scroll-wrapper {
    padding-top: 0 !important;
  }
  .keyboardmove_pup {
    animation: keyboardmove 0.5s forwards;
  }
  @keyframes keyboardmove {
    from {
      bottom: -200%;
      display: none;
    }
    to {
      bottom: 44px;
      display: block;
    }
  }
  .keyboard {
    padding-bottom: 17px;
  }
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-min-device-pixel-ratio: 2) {
  .mui-scroll-wrapper {
    padding-top: 0;
  }
  .mui-content {
    padding-top: 0;
  }
  header {
    height: 64px;
    padding-top: 24px;
    box-sizing: content-box;
    box-shadow: 0 1px 6px #ccc;
    border: 1px solid #D7D7D7;
  }
  .mui-content {
    padding-top: 88px;
  }
  body {
    /* padding-bottom: 34px; */
  }
  /* 密码框 */
  .alert-password {
    padding-bottom: 34px !important;
    box-sizing: content-box;
  }
  .mui-bar-tab {
    padding-bottom: 34px;
  }
  /* iframe */
  #sytframe {
    bottom: 34px !important;
  }
  /* 协议 */
  .argument.active {
    top: 44px;
  }
  .show-card-info {
    top: 88px;
  }
  /* 滚动区域 */
  .mui-scroll-wrapper {
    top: 88px !important;
  }
  .mui-scroll-wrapper {
    padding-top: 0 !important;
  }
  .keyboardmove_pup {
    animation: keyboardmove 0.5s forwards;
  }
  @keyframes keyboardmove {
    from {
      bottom: -200%;
      display: none;
    }
    to {
      bottom: 44px;
      display: block;
    }
  }
  .keyboard {
    padding-bottom: 17px;
  }
}
.mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-progress-bar {
  background-color: #C62323;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  color: #C62323;
  border-bottom: 2px solid #007aff;
  background: 0 0;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item {
  border-top: 0;
  border-bottom: 0;
}
.df_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text_color_gray {
  font-family: PingFangSC-Regular;
  font-size: 15px;
  color: #A0A0A0 !important;
  letter-spacing: 0.05px;
}
.text_color_gray_20 {
  font-family: PingFangSC-Regular;
  font-size: 15px;
  color: #202020 !important;
  letter-spacing: 0.05px;
}
.selectBank_popup {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 335px;
  z-index: 140;
  overflow-y: auto;
  background-color: #fff;
}
.selectBank_popup .mui-scroll-wrapper {
  padding-top: 0;
}
.syt_dd {
  background-color: #FFFFFF;
  margin-top: 7px;
  padding: 0 4%;
  padding-top: 20px;
  padding-bottom: 14px;
}
.syt1 {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #555555;
  letter-spacing: 0.05px;
  display: flex;
  justify-content: space-between;
}
.syt1 + .syt1 {
  padding-top: 15px;
}
.dd_title {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #555555;
  letter-spacing: 0.05px;
}
.dd_title2 {
  font-family: PingFangSC-Regular;
  font-size: 15px;
  color: #222222;
  letter-spacing: 0.05px;
}
.dd_code2 {
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  color: #222222;
  letter-spacing: 0.05px;
}
.sjlj {
  font-family: PingFangSC-Semibold;
  font-size: 16px;
  color: #C62323;
  letter-spacing: 0.05px;
}
.zf_money {
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  color: #C62323;
  letter-spacing: 0.06px;
}
.bank_list {
  padding-top: 10px;
}
.bank_list li {
  display: flex;
  justify-content: space-between;
}
.bank_list .df {
  display: flex;
  align-items: center;
}
.bank_list .mui-table-view-cell {
  padding-right: 0;
  margin-right: 4% !important;
}
.bank_list .mui-table-view-cell img {
  width: 23px;
  height: 23px;
}
.text_black {
  font-family: PingFangSC-Regular;
  font-size: 15px;
  color: #222222;
  letter-spacing: 0.05px;
}
.text_red {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #C62323;
  letter-spacing: 0.04px;
  text-align: right;
}
.font_color_red {
  color: #C62323;
}
.bank_center {
  margin-left: 10px;
}
.bank_center span:nth-of-type(1) {
  display: block;
}
.bank_center span:nth-of-type(2) {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #A0A0A0;
  letter-spacing: 0.04px;
}
.df label:nth-of-type(1) {
  margin-left: 10px;
}
.df label:nth-of-type(2) {
  margin-left: 15px;
}
.ml_33 {
  margin-left: 33px;
}
.oterPay {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #222222;
  letter-spacing: 0.04px;
  background: #EDEDED;
  height: 28px;
  line-height: 28px;
  padding-left: 4%;
}
.hook {
  width: 15px !important;
  height: 15px !important;
  align-self: center;
  margin-right: 10px;
}
.last_item {
  display: block !important;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
.last_item .mui-navigate-right {
  margin: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.last_item > div {
  margin-bottom: 10px !important;
  line-height: 2;
}
.btnBox {
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  bottom: 0;
  text-align: center;
}
#confirmBtn {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.successImg {
  text-align: center;
}
.successImg img {
  width: 44px;
  height: 44px;
  margin-top: 40px;
}
.successImg p {
  margin-top: 13px;
  ont-family: PingFangSC-Medium;
  font-size: 17px;
  color: #C62323;
  letter-spacing: 0.06px;
}
.czDetail {
  margin: 0 4%;
  width: 92%;
}
.czDetail li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
.czDetail li span:nth-of-type(1) {
  font-family: PingFangSC-Regular;
  color: #555555;
  font-size: 15px;
  letter-spacing: 0.05px;
}
.czDetail li span:nth-of-type(2) {
  font-family: PingFangSC-Regular;
  font-size: 15px;
  color: #222222;
  letter-spacing: 0.05px;
}
.newBank > p {
  height: 40px;
  line-height: 40px;
  padding-left: 4%;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #A0A0A0;
}
.bankno {
  height: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF !important;
}
.bankno span:nth-of-type(1) {
  padding-left: 4%;
  font-family: PingFangSC-Medium;
  font-size: 15px;
  color: #333333;
  line-height: 1;
  display: inline-block;
  width: 24%;
}
.bankno input {
  width: 66%;
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}
.bankno .bf_icon_span {
  position: relative;
  line-height: 50px;
}
.bankno .bf_icon {
  margin-right: 15px;
}
.line_addbank {
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #D7D7D7;
  margin-left: 6px;
  margin-right: 9px;
}
.bankInfo {
  display: flex;
}
.bankInfo span {
  font-family: 'PingFangSC-Medium';
  font-size: 15px;
}
.bankInfo span:nth-of-type(1) {
  color: #222222;
  width: 24%;
  display: inline-block;
}
.bankInfo span:nth-of-type(2) {
  color: #C62323;
}
.afterNone::after {
  display: none !important;
}
.errpage_title {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #A0A0A0;
  height: 27px;
  line-height: 27px;
  background: #efeff4;
  padding-left: 4%;
}
.font_color_222 {
  color: #222222 !important;
}
.otherList img {
  width: 22px;
  height: 22px;
}
.otherList label {
  margin-left: 12px;
}
.bankName {
  font-family: PingFangSC-Medium;
  font-size: 15px;
  color: #222222;
}
.bankName span:nth-child(2) {
  margin-left: 15px;
  font-family: PingFangSC-Medium;
  font-size: 15px;
  color: #222222;
}
.card_info {
  width: auto;
  height: 107px;
  margin: 10px 15px 0;
  background: #FFFFFF;
  border-radius: 8px;
  position: relative;
  color: #222;
  font-family: PingFangSC-Regular;
}
.card_info .card_text {
  width: 100%;
  height: 38px;
  line-height: 22px;
  position: relative;
  top: 12px;
  padding-top: 2px;
  padding-left: 58px;
  color: #222;
}
.card_info .card_text h3 {
  font-size: 15px;
  letter-spacing: 0.05px;
}
.card_info .card_text p {
  font-size: 13px;
  letter-spacing: 0.04px;
}
.card_info .cardh {
  font-size: 15px;
  letter-spacing: 0.05px;
  position: absolute;
  right: 14.5px;
  bottom: 13px;
  z-index: 9999;
}
.cardItems {
  overflow: hidden;
}
.card_info .BigImg {
  width: 123px;
  height: 102%;
  position: absolute;
  right: 0;
  top: 0;
}
.card_info .smallImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  margin: 11px;
}
.bank_panle {
  width: auto;
  height: 124.5px;
  margin: 10px 15px;
  background: #FFF;
  border-radius: 8px;
  border: 1px solid #DEDEDF;
  color: #222;
}
.bank_panle .bank_title {
  line-height: 28.5px;
  font-size: 12px;
  color: #FFF;
  padding-left: 8.5px;
  background: #4C585C;
  border-radius: 7px 7px 0 0;
}
.bank_panle .bank_xe {
  padding: 18px 11.5px 0 15.5px;
  font-size: 15px;
  color: #343434;
  display: flex;
  justify-content: space-between;
}
.btn-group {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 0 10px;
}
.btn-group .d_btn {
  width: 100%;
  font-size: 16px;
  display: block;
  margin-top: 7px;
  line-height: 48px;
  height: 48px;
  background: #FFF;
  border: none;
}
.btn-group .d_btn:first-child {
  color: #E51E43;
}
.jiaoyijilu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.jiaoyijilu .item_lf {
  display: flex;
}
.jiaoyijilu .item_lf img {
  width: 38px !important;
  height: 38px !important;
}
.jiaoyijilu .item_lf div {
  margin-left: 20px;
}
.jiaoyijilu .item_lf div span:nth-child(1) {
  display: inline-block;
  width: 100%;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #222222;
}
.jiaoyijilu .item_lf div span:nth-child(2) {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #888888;
}
.jiaoyijilu .item_rt {
  margin-right: 15px;
  font-family: PingFangSC-Medium;
  font-size: 20px;
  color: #222222;
}
.showMoney {
  background: #FFFFFF;
  padding: 0 4%;
  padding-top: 13px;
}
.showMoney_top {
  font-family: PingFangSC-Regular;
  font-size: 15px;
  color: #222222;
  letter-spacing: 0.05px;
}
.showMoney_bot {
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  height: 60px;
  line-height: 60px;
}
.showMoney_bot img {
  width: 34px;
  height: 45px;
  display: block;
}
.showMoney_bot .txwz_money {
  display: inline-block;
  font-family: PingFangSC-Regular;
  font-size: 50px;
  color: #202020;
  letter-spacing: 0.2px;
  margin-left: 12px;
}
.rightRooket {
  color: #575757;
  font-size: 30px;
}
.quanbutixian {
  margin: 0 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #E9E9E9;
  height: 43px;
  margin-top: 23px;
}
.quanbutixian span:nth-child(1) {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #E98989;
  letter-spacing: 0.04px;
}
.quanbutixian span:nth-child(2) {
  font-family: PingFangSC-Medium;
  font-size: 15px;
  color: #C62323;
  letter-spacing: 0.05px;
}
.tijiaoshenqing {
  background-color: #FFFFFF;
}
.tijiaoshenqing p {
  width: 225px;
  margin: 0 auto;
}
.tijiaoshenqing p:nth-of-type(1) {
  margin-top: 39px;
  font-family: PingFangSC-Regular;
  font-size: 15px;
  color: #222222;
  letter-spacing: 0.05px;
}
.tijiaoshenqing p:nth-of-type(2) {
  margin-top: 9px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #A0A0A0;
  letter-spacing: 0.05px;
}
.wdqb {
  padding: 35px 0;
}
.wdqb p {
  text-align: center;
}
.wdqb p:nth-of-type(1) {
  font-family: PingFangSC-Regular;
  font-size: 15px;
  color: #4A4A4A;
  letter-spacing: -0.15px;
}
.wdqb p:nth-of-type(2) {
  font-family: PingFangSC-Semibold;
  font-size: 30px;
  color: #222222;
  letter-spacing: -0.15px;
}
.wdqb_li:nth-of-type(1) img {
  width: 22px;
  height: 18px;
}
.wdqb_li:nth-of-type(2) img {
  width: 22px;
  height: 18px;
}
.wdqb_li:nth-of-type(3) img {
  width: 20px;
  height: 22px;
}
.wdqb_btn {
  width: 100%;
  height: 47px;
  line-height: 47px;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 0;
}
.wdqb_btn button {
  width: 50%;
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  z-index: 10;
  border-radius: 0;
}
.wdqb_btn button:nth-of-type(1) {
  background-color: #FFFFFF;
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #555555;
  letter-spacing: -0.16px;
}
.wdqb_btn button:nth-of-type(2) {
  background-color: #C62323;
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: -0.16px;
}
.img_box_weitianjia {
  text-align: center;
}
.img_box_weitianjia img {
  width: 126px;
  height: 126px;
  margin-top: 42px;
}
.img_box_weitianjia p {
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #222222;
}
.card_js::after {
  content: '';
  background: url(../../img/jiansheyinhang@2x.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  width: 123px;
  height: 107px;
}
.card_info .js_bank::before {
  content: '';
  background: url(../../img/jsyh_72.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -11px;
  left: 0;
  width: 36px;
  height: 36px;
  margin: 11px;
}
.last_bank_card p {
  left: 15px;
}
.card_bj::after {
  content: '';
  background: url(../../img/beijingyinhang@2x.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  width: 123px;
  height: 107px;
}
.card_info .bj_bank::before {
  content: '';
  background: url(../../img/beijingyh_72.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -11px;
  left: 0;
  width: 36px;
  height: 36px;
  margin: 11px;
}
.mui-input-row label {
  font-family: 'PingFangSC-Medium';
  line-height: 1.1;
  float: left;
  width: 24%;
  padding: 11px 0;
}
.mui-input-row label ~ input {
  float: right;
  width: 76%;
  margin-bottom: 0;
  padding-left: 0;
  border: 0;
  font-family: 'PingFangSC-Medium';
  font-size: 15px;
}
.showMoney_bot > input {
  height: 100%;
  /* line-height: 45px; */
  padding: 0;
  padding-left: 12px;
  font-size: 50px;
  align-self: center;
  display: inline-block;
}
/* 转账部分 */
.zzjl > h1 {
  font-family: 'PingFangSC-Medium';
  font-size: 38px;
  color: #C62323;
  margin-top: 39px;
  text-align: center;
}
.zzjl > p {
  margin-top: 8px;
  font-family: PingFangSC-Medium;
  font-size: 15px;
  color: #333333;
  text-align: center;
}
.zzjl .czDetail {
  margin-top: 30px;
}
.zzjl .czDetail li {
  padding-bottom: 10px;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 18px;
}
.zzjl .czDetail li span:nth-of-type(1) {
  font-family: 'PingFangSC-Medium';
  font-size: 15px;
  color: #333333;
}
.zzjl .czDetail li span:nth-of-type(2) {
  font-family: 'PingFangSC-Regular';
  font-size: 15px;
  color: #222222;
}
.zzsb .successImg {
  background-color: #FFFFFF;
  padding-bottom: 50px;
}
.zzsb .successImg img {
  width: 51px;
  height: 51px;
}
.zzsb .successImg p:nth-of-type(1) {
  margin-top: 33px;
}
.zzsb .successImg p:nth-of-type(2) {
  margin: 0 auto;
  margin-top: 20px;
  font-family: 'PingFangSC-Regular';
  font-size: 14px;
  color: #545454;
  letter-spacing: 0.05px;
  text-align: center;
  width: 130px;
}
.zzsb .successImg p.w200 {
  width: 200px;
}
.zzjlu .mui-table-view-cell:after {
  right: 15px;
}
.zzjlu .mui-table-view:after {
  height: 1px;
  right: 15px;
  left: 15px;
}
.zzjlu .jiaoyijilu + .zzjlu .jiaoyijilu {
  margin-top: 15px;
}
.zzjlu .jiaoyijilu span {
  margin-right: 10px;
}
.sideBar_left > div:nth-of-type(1) {
  margin-top: 75px;
  padding-bottom: 13px;
  border-bottom: 1px solid #EFEFEF;
  padding-left: 13px;
  font-family: 'PingFangSC-Regular';
  font-size: 15px;
  color: #222222;
}
.sideBar_left > p {
  font-family: 'PingFangSC-Regular';
  font-size: 15px;
  color: #222222;
  padding-left: 13px;
  margin-top: 20px;
}
.sideBar_left .dateBox {
  margin: 0 4%;
  width: 92%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin-top: 18px;
}
.sideBar_left .dateBox span {
  width: 94px;
  padding: 3px 0;
  font-family: 'PingFangSC-Regular';
  font-size: 15px;
  color: #C62323;
  margin-bottom: 20px;
  border: 1px solid #C62323;
  border-radius: 4px;
  text-align: center;
}
.canvas_active {
  color: #FFFFFF !important;
  background-color: #C62323 !important;
}
.huikuanTitle {
  position: relative;
}
.huikuanTitle > div {
  box-shadow: 0 2px 4px 0 rgba(83, 83, 83, 0.34);
  border-radius: 4px;
  position: absolute;
  width: 92%;
  background-color: #FFFFFF;
  top: 25px;
  left: 4%;
  right: 4%;
}
.huikuanTitle > div span {
  display: inline-block;
  width: 49%;
  padding: 13px 0;
  text-align: center;
}
.huikuanTitle > div span:nth-of-type(1) {
  border-right: 1px solid #CECECE;
}
.remittance li > span {
  font-family: 'PingFangSC-Regular';
  font-size: 15px;
  color: #222222;
  letter-spacing: -0.08px;
  text-align: center;
}
.remittance li > span:nth-of-type(1) {
  margin-right: 15px;
}
.remittance .li_img img {
  width: 21px;
  height: 21px;
  margin-right: 24px;
  vertical-align: -5px;
}
.remittance .li_img span {
  margin-right: 0;
}
.remittance .li_img i {
  float: right;
  margin-right: 3%;
  color: #575757;
  font-size: 26px;
}
.remittance .li_img:after {
  right: 0 !important;
  left: 0 !important;
}
.remittance_bank .li_arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remittance_bank .li_arrow:after {
  right: 0 !important;
  left: 0 !important;
}
.remittance_bank .li_arrow div {
  padding-right: 3%;
}
.remittance_bank .li_arrow div span {
  font-family: 'PingFangSC-Regular';
  font-size: 15px;
  color: #8D8D8D;
  letter-spacing: -0.08px;
  text-align: center;
}
.remittance_bank .showMoney .quanbutixian span {
  font-family: 'PingFangSC-Regular';
  font-size: 15px;
  color: #202020 !important;
  letter-spacing: 0.05px;
}
.remittance_bank .showMoney input {
  margin-bottom: 0;
  border: 0;
}
.remittance_bank .li_img img {
  width: 21px;
  height: 21px;
  margin-right: 24px;
  vertical-align: -5px;
}
.remittance_bank .li_img span {
  margin-right: 0;
}
.remittance_bank .li_img i {
  float: right;
  margin-right: 3%;
  color: #575757;
  font-size: 26px;
}
.remittance_bank .li_img:after {
  right: 0 !important;
  left: 0 !important;
}
.bd_b_0::after {
  height: 0 !important;
}
.moneyTitle {
  font-family: 'PingFangSC-Regular';
  font-size: 13px;
  color: #222222;
  letter-spacing: 0.04px;
  height: 42px;
  line-height: 42px;
  padding-left: 4%;
  background: #EaEaEa;
  position: relative;
}
.moneyTitle i {
  position: absolute;
  left: 7%;
  top: -8px;
  font-size: 0;
  line-height: 0;
  border-width: 8px;
  border-color: #EaEaEa;
  border-top-width: 0;
  border-style: dashed;
  border-bottom-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
}
.moneyItem:after {
  height: 0px;
}
.zzje_more {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5% !important;
}
.zztitle {
  font-family: 'PingFangSC-Regular';
  font-size: 12px;
  color: #555555;
  line-height: 30px;
  padding-left: 4%;
}
.beizhu {
  display: flex;
}
